[submodule "src/lib/js-ppwcode-vernacular-semantics"]
	path = src/lib/js-ppwcode-vernacular-semantics
	url = https://github.com/peopleware/js-ppwcode-vernacular-semantics-private.git
[submodule "src/lib/dojo/dijit"]
	path = src/lib/dojo/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/lib/dojo/util"]
	path = src/lib/dojo/util
	url = https://github.com/dojo/util.git
[submodule "src/lib/put-selector"]
	path = src/lib/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "src/lib/xstyle"]
	path = src/lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "src/lib/dgrid"]
	path = src/lib/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "src/lib/dojo/dojo"]
	path = src/lib/dojo/dojo
	url = https://github.com/dojo/dojo.git
